.nav a {
  color: #5a5a5a;
  font-size: 16px;
}

.canarytab {
  background-color: black;
  height: 50px;
}

.nav-pills{
  display: flex;
}


.nav-pills li {
  flex: 1;
  text-align: center;
}

.nav-pills a {
  flex: 1;
  text-align: center;
}


.jumbotron {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:200px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}


.jumbotron .right {
    text-align: right;
    float: right;
}


.learn-more {
  background-color: black;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;canary
}

.learn-more a {
  color: white;
}

.learn-more p {;
  color: white;
}


.panel-collapse {
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

